@import url(/fonts/stylesheet.css);
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #4F4F4F;
}

.container {
	width: 1441px;
	margin: 0 auto;
}

.btn {
	font-family: "Gotham Pro", sans-serif;
	font-style: normal;
	font-weight: normal;
	width: 238px;
	height: 61px;
	font-size: 18px;
	line-height: 140%;
	background: linear-gradient(90deg, #8E9FDF 0%, #3666AB 100%);
	border-radius: 5px;
	color: #FFFFFF;
	display: flex;
	justify-content: center;	
	align-items: center;
}

.btn:hover{
	background: linear-gradient(269.13deg, #E4A228 1.1%, #F8BD52 95.45%);
}

.btn:active{
	background: #E5A42B;
}

.phone__number {
	font-family: "Gotham Pro", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 140%;
	color: #333333;
}

.phone__number:hover {
	color: #8E9FDF;
}

.phone__number:active {
	color: #3561A4;
}

.title {
	font-family: "Gotham Pro", sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 120%;
	color: #333333;
}


/* Header */

.header {
    background: url(/images/bg-header.jpg) no-repeat;
    margin-bottom: 70px;
}

.header__menu {
	display: flex;
	padding-top: 20px;
    margin-bottom: 79px;
}

.header__list {
	display: flex;
}

.header__list-item {
	margin-left: 48px;
	padding-top: 20px;
	margin-bottom: 79px;
}

.header__list-item:last-child {
	padding: 0;
}

.header__list-link {
	font-family: "Gotham Pro", sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	color: #4F4F4F;	
}

.header__main-text {
    text-align: center;
}

.header__title {
    font-family: "Gotham Pro", sans-serif;
    font-weight: bold;
    font-size: 64px;
    line-height: 120%;
    color: #333333;
    padding-bottom: 25px;
}

.header__subtitle {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    color: #4F4F4F;
    width: 809px;
    margin: 0 auto;
    padding-bottom: 25px;
}

.header__content-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__content-card {
    background: #F2F2F2;
    border-radius: 5px;
    width: 709px;
    margin-bottom: 25px;
}

.header__card-logo {
    display: flex;

}

.card-logo {  
    padding: 24px 26px 0 0;
    width: 199px;
    height: 91px;
}

.header__card-title {
    padding: 47px 50px 49px 48px;
}

.header__card-subtitle {
    width: 597px;
    padding-left: 48px;
    padding-bottom: 21px;
}

.header__card-review {
    text-align: right;
    padding: 0 54px 52px 0;
}

.header__card-review-span {
    font-weight: bold;
}

/* Header end */

/* Studio */

.studio__section {
    margin-bottom: 50px;
}

.studio__main-text {
   text-align: center;
}

.studio__title {
    font-size: 48px;
    padding-bottom: 21px;
}

.studio__subtitle {
    font-family: Raleway;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    color: #4F4F4F;
    width: 812px;
    margin: 0 auto;
    padding-bottom: 58px;
}

.studio__cards {
    display: flex;
    justify-content: space-between;
}

.studio__card:nth-child(odd) {
    background: radial-gradient(50% 284.34% at 28.33% 50%, #9DBCEA 0%, #8DAEDE 100%);
    border-radius: 5px;
}

.studio__card:nth-child(even) {
    background: radial-gradient(52.83% 206.26% at 65.38% 47.17%, #FEE69D 0%, #FADF8C 100%);
    border-radius: 5px;
}

.studio__card-title-odd {
    font-family: Raleway;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    color: #F2F2F2;
    text-align: center;
    padding: 34px 0 50px 0;
}

.studio__card-title-even {
    font-family: Raleway;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    color: #4F4F4F;
    text-align: center;
    padding: 34px 0 50px 0;
}

.studio__card-subtitle-odd {
    color: #F2F2F2;
    width: 276px;
    margin: 0 auto;
}

.studio__card-subtitle-even {
    color: #4F4F4F;
    width: 276px;
    margin: 0 auto;
}

/* Studio end */

/* Footer */

.footer {
	background: radial-gradient(50% 284.34% at 28.33% 50%, #9DBCEA 0%, #8DAEDE 100%);
	height: 214px;
}

.footer__inner {
	height: 184px;
}

.footer__lists-top {
	padding: 67px 0 31px 0;
}

.footer__list {
	display: flex;
	justify-content: center;
}

.footer__list-item:not(:last-child) {
	padding-right: 46px;
}

.footer__list-link {
	font-family: "Gotham Pro", sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	color: #FFFFFF;
}

.footer__bottom {
	height: 92px;
}

.footer__section {
	display: flex;
	justify-content: space-between;
}

.footer__logo {
	padding-top: 5px;
}

.footer_list-year {
	padding-top: 25px;
}

.footer__lists {
	display: flex;
}

.footer__list-items:not(:last-child) {
	padding-top: 30px;
	padding-right: 66px;	
}

.footer__list-links {	
	font-family: "Gotham Pro", sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 13px;
	color: #F2F2F2;
}

.footer__phone {
	color: #F2F2F2;
}

.footer__btn {
	font-family: "Gotham Pro", sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	background: #F2F2F2;
	border-radius: 5px;
	color: #4F4F4F;
}

